.popup-img__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px * 2);
  max-width: 75vw;
  max-height: calc(75vh + 10px + 15px);
  z-index: 10;
  gap: 10px 0;
}
