.element__garbage {
  position: absolute;
  top: 20px;
  left: 244px;
  height: 19px;
  width: 18px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../../images/Garbage.svg");
  z-index: 2;
}

.element__garbage:hover {
  opacity: 0.5;
}
