.profile__paragraph {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  max-width: calc(100% - 330px);
}

@media screen and (max-width: 640px) {
  .profile__paragraph {
    align-items: center;
    padding-left: 0;
    max-width: none;
  }
}
