.profile__button-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0 18px;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .profile__button-edit {
    width: 0;
    margin: 0;
    position: relative;
    left: 20px;
  }
}
