.profile {
    padding: 36.25px 200px 47.25px;
    display: flex;    
}

@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
        padding: 0 19px;
        align-items: center;
    }
}
