.button-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: #000000;
  margin: 0 18px 0;
  cursor: pointer;
}

.button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .button-edit {
    margin: 0 0 0 10px;
    width: 18px;
    height: 18px;
  }
}
