.button-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #000000;
  cursor: pointer;
  width: 0;
  margin: 0;
  padding: 0;
  position: relative;
  left: 28px;
}

.button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .button-edit {
    left: 20px;
  }
}
