.element__heart {
  width: 22px;
  height: 19px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../../images/heart.svg");
  margin-right: 5px;
}

.element__heart:hover {
  opacity: 0.5;
}
