.profile__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin: 0;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 60px);
}

@media screen and (max-width: 640px) {
  .profile__text {
    font-size: 14px;
    line-height: 1.21;
    padding-top: 14px;
    text-align: center;
    width: 100%;
    max-width: 220px;
  }
}
